<%if(success&&success.length){%>
    <div class="success">
        <h3><%=success%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(deleted&&deleted.length){%>
    <div class="success">
        <h3><%=deleted%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(edited&&edited.length){%>
    <div class="success">
        <h3><%=edited%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(reviewEdited&&reviewEdited.length){%>
    <div class="success">
        <h3><%=reviewEdited%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(reviewDeleted&&reviewDeleted.length){%>
    <div class="success">
        <h3><%=reviewDeleted%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(listingNotExist&&listingNotExist.length){%>
    <div class="success">
        <h3><%=listingNotExist%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(failure&&failure.length){%>
    <div class="success">
        <h3><%=failure%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>
<%if(error&&error.length){%>
    <div class="success">
        <h3><%=error%></h3>
        <button class="success_button">Okay</button>
    </div>
<%}%>